@using MyPortfolio.DAL.Entities
@model List<Portfolio>

<section id="works" class="s-works target-section">

	<div class="row narrow section-intro has-bottom-sep">
		<div class="col-full">
			<h3>Portfolyo</h3>
			<h1>Son Projelerime Göz Atabilirsiniz</h1>

			<p class="lead">Geliştirdiğim son projelerde, kullanıcı dostu arayüzler ve performans odaklı çözümler sundum. Modern yazılım tekniklerini kullanarak, işlevsel ve güvenli web uygulamaları oluşturdum.</p>
		</div>
	</div>


	<div class="row masonry-wrap">
		<div class="masonry">

			@foreach (var item in Model)
			{
				<div class="masonry__brick">
					<div class="" style="margin-right: 50px; margin-bottom: 50px;">
						<div class="">
							<a href="@item.Url" class="thumb-link" title="web site" data-size="1050x500">
								<img src="@item.ImageUrl">
							</a>
							<div class="testimonials__author h07" style="color:black">
								@item.Title
								<br />
								<span>@item.Date.ToShortDateString()</span>
								<a href="@item.Url"><span>Proje Detayları İçin - GitHub</span><i class="im im-github" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</section>