@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
			</div>
			<div class="info">
				<a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
					<span>

						@ViewBag.name @ViewBag.surname
						<span class="user-level">@ViewBag.role</span>
						<span class="caret"></span>
					</span>
				</a>
				<div class="clearfix"></div>

				<div class="collapse in" id="collapseExample" aria-expanded="true" style="">
					<ul class="nav">
						<li>
							<a href="/Profil/ProfilView/">
								<span class="link-collapse">Profilim</span>
							</a>
						</li>
						<li>
							<a href="/Profil/ProfilNewPassword/">
								<span class="link-collapse">Şifre Değiştir</span>
							</a>
						</li>
						<li>
							<a href="#settings">
								<span class="link-collapse">Ayarlar</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			@if (HttpContextAccessor.HttpContext.User.IsInRole("A"))
			{
				<li class="nav-item">
					<a href="/Dashboard/Index">
						<i class="la la-dashboard"></i>
						<p>Dashboard</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/Default/Index/">
						<i class="la la-home"></i>
						<p>Siteye Git</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/About/AboutUpdate">
						<i class="la la-user"></i>
						<p>Hakkımda</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/ToDoList/Index/">
						<i class="la la-sticky-note-o"></i>
						<p>Yapılacaklar</p>
						<span class="badge badge-warning">@ViewBag.todolistCound</span>
						
					</a>
				</li>
				<li class="nav-item">
					<a href="/Experience/ExperienceList">
						<i class="la la-laptop"></i>
						<p>Deneyimler</p>
					</a>
				</li>

				<li class="nav-item">
					<a href="/Contact/ContactList">
						<i class="la la-info"></i>
						<p>İletişim Bilgileri</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/Portfolio/PortfolioList">
						<i class="la la-user"></i>
						<p>Portfolyo</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/Skill/SkillList">
						<i class="la la-keyboard-o"></i>
						<p>Yeteneklerim</p>
					</a>
				</li>

				<li class="nav-item">
					<a href="/SocialMedia/SocialMediaList">
						<i class="la la-at"></i>
						<p>Sosyal Medya</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/Message/Inbox/">
						<i class="la la-comments"></i>
						<p>Üyelerden Gelen Kutusu</p>
						<span class="badge badge-warning">@ViewBag.usersendMessage</span>
						
					</a>
				</li>

				<li class="nav-item">
					<a href="/ContactMessage/ContactMessageList/">
						<i class="la la-comments"></i>
						<p>İletişimden Gelen Kutusu</p>
					</a>
				</li>


			}
			@if (HttpContextAccessor.HttpContext.User.IsInRole("U"))
			{
				<li class="nav-item">
					<a href="/Dashboard/UserDashboard/">
						<i class="la la-dashboard"></i>
						<p>Dashboard</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="/UserSentMessages/UserSendMessageList/">
						<i class="la la-info"></i>
						<p>İletişim Paneli</p>
					</a>
				</li>


			}
			<li class="nav-item">
				<a href="/Announcement/AnnouncementList/">
					<i class="la la-bullhorn"></i>
					<p>Duyurular</p>
					<span class="badge badge-warning">@ViewBag.announcementCount</span>
				</a>
			</li>
			<li class="nav-item">
				<a href="/Login/LogOut/">
					<i class="la la-sign-out"></i>
					<p>Çıkış Yap</p>
				</a>
			</li>

		</ul>
	</div>
</div>